@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Volkhov&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* headings and logo*/

h1, h2 {
    font-family: volkhov, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #E96E14;
}

h3 {
    font-family: volkhov, sans-serif;
    text-transform: none;
    letter-spacing: 4px;
    color: #E96E14;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 40px;
}

/* navigation links*/

#menu {
    font-size: 150%;
    letter-spacing: 4px;
    display: flex;
    flex-direction: row;
    float: right;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style: none;
    margin-right: 40px;
}

#menu a {
    text-decoration: none;
    color: #E96E14;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* hero image */

#hero-image {
    height: 650px;
    width: 100%;
    background: url('../images/hero-image.png') no-repeat center center;
}

/* history */

#history {
    height: 700px;
}

#history p {
    margin-top: 10px;
    margin-bottom: 18px;
}

#left-history {
    padding-top: 4px;
    width: 60%;
    float: left;
}

#right-history {
    text-align: center;
    padding-top: 4px;
    width: 33%;
    float: right;
}

hr {
    width: 100%;
    height: 20px;
}

.left-history {
    width: 60%;
    line-height: 20px;
    clear: both;
    margin-left: 40px;
    margin-bottom: 50px;
}

.right-history {
    width: 33%;
    line-height: 20px;
    clear: both;
    margin-right: 20px;
    margin-bottom: 50px;
}

.right-history h2 {
    font-weight: 900;
    text-align: center;
}

.right-history p {
    font-weight: 900;
    text-align: center;
}

/* what to see */

#what-to-see {
    height: 600px;
}

#what-to-see p {
    margin-top: 10px;
    margin-bottom: 18px;
}

#forum {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#river-port {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#market {
    padding-top: 30px;
    width: 33%;
    margin: 0 auto;
}

.forum {
    line-height: 20px;
    text-align: center;
    margin-left: 2px;
    background-color: rgb(152, 207, 246, 0.5);
}

.river-port {
    line-height: 20px;
    text-align: center;
    margin-right: 2px;
    background-color: rgb(152, 207, 246, 0.5);
}

.market {
    line-height: 20px;
    text-align: center;
    background-color: rgb(152, 207, 246, 0.5);
}

.what-to-see {
    text-align: center;
}

img {
    border-radius: 8px;
  }

  /* footer */

  footer {
    height: 160px;
    border-top: 1px solid #3a3a3a;
  }

  .social-media {
    text-align: center;
  }

  .social-media > li {
    display: inline;
  }

  .social-media i {
    font-size: 200%;
    margin: 1%;
    padding: 5%;
  }

  /* visitor information*/

  #visitor-information {
    height: 600px;
    clear: both;
  }

  #left-visit {
    padding-top: 30px;
    width: 33%;
    float: left;
    background-color: rgb(152, 207, 246, 0.5);
  }

  #right-visit {
    padding-top: 30px;
    width: 33%;
    float: right;
    background-color: rgb(152, 207, 246, 0.5);
  }

  #center-visit {
    width: 33%;
    margin: 0 auto;
    background-color: rgb(152, 207, 246, 0.5);
  }

  .left-visit {
    line-height: 20px;
    text-align: center;
    margin-left: 2px;
    background-color: rgb(152, 207, 246, 0.5);
  }

  .right-visit {
    line-height: 20px;
    text-align: center;
    margin-left: 2px;
    background-color: rgb(152, 207, 246, 0.5);
  }

  #visit-us {
    text-align: center;
    margin: 10px 0;
    font-size: 150%;
  }

  .center-visit {
    line-height: 20px;
    text-align: center;
    padding-top: 10px;
    background-color: rgb(152, 207, 246, 0.5);
  }

   /* contact information*/

   #contact {
    background-image: url('..//images/collumns_600x600.jpg');
    height: 560px;
    clear: both;
   }

   #left-contact {
    padding-top: 10px;
    padding-left: 10px;
    width: 33%;
    float: left;
   }

   #right-contact {
    text-align: center;
    padding-top: 10px;
    width: 33%;
    float: right;
   }

   .right-contact {
    line-height: 20px;
    text-align: center;
    background-color: rgb(222, 233, 238, 0.9);
    height: 550px;
   }

   /* Form */

   .left-contact {
    clear: left;
    background-color: rgb(222, 233, 238, 0.9);
    background-size: cover;
    background-position: center;
    height: 550px;
   }

   .contact-us {
    text-align: left;
   }

   .contact-form {
    margin: 150px 10% 0 0;
    color: #fff;
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
   }

   .text-input {
    background: beige;
    color: #3a3a3a;
    width: 95%;
    height: 25px;
    margin: 5px 0 20px;
    border: 1px solid #3a3a3a;
    border-radius: 2px;
   }

   .text-input:hover {
    border-color: #3a3a3a;
   }

   .send {
    margin-top: 20px;
    border-radius: 2px;
    padding: 18px 30px;
    text-align: center;
    font-size: 100%;
    background-color: #E96E14;
    color: #3a3a3a;
    display: block;
   }

   .send:hover {
    background-color: #fafafa;
    color: #3a3a3a;
   }

   /* Media queries */

/* For larger to medium screens size from 1200px wide and down */
@media screen and (max-width: 1200px) {
    #hero-image {
        width: 65%;
        margin: 0 auto;
    }
    
    #history {
        width: 65%;
        height: 1400px;
        margin: 0 auto;
    }

    #what-to-see {
        padding: 30px 0;
        margin: 0;
    }

    #left-history, #right-history {
        width: 100%;
        float: left;
        padding: 0;
    }

    #forum, #river-port {
        background-color: #fafafa;
        width: 100%;
        float: left;
        padding: 0;
    }

    #market {
        background-color: #fafafa;
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }

    #visitor-information {
        width: 65%;
        height: 1700px;
        margin: 0 auto;
    }

    #left-visit, #right-visit {
        width: 100%;
        float: left;
        padding: 0;
    }

    #center-visit {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }

    #contact {
        width: 65%;
        height: 1100px;
        margin: 0 auto;
    }

    #left-contact, #right-contact {
        width: 100%;
        float: left;
        padding: 0;
    }

}

/* For medium screen sizes from 950px wide and down */
@media screen and (max-width: 950px) {

    h2 {
        text-align: left;
    }

    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    #history {
        width: 90%;
        height: 1200px;
        margin: 0 auto;
    }

    #left-history, #right-history {
        width: 90%;
        float: left;
        margin: 0 auto;
    }

    #hero-image {
        clear:both;
        width: 90%;
        margin: 0 auto;
    }

    #what-to-see {
        clear: both;
        width: 90%;
        height: 1350px;
        margin: 0 auto;
    }

    #visitor-information {
        width: 90%;
        height: 1750px;
        margin: 0 auto;
    }

    #left-visit, #right-visit {
        width: 90%;
        float: left;
        margin: 0 auto;
    }

    #center-visit {
        clear: both;
        width: 90%;
        margin: 0 auto;
    }

    .what-to-see {
        text-align: left;
    }

    .social-media {
        width: 90%;
        float: left;
        margin: 0 auto;
    }

}







  