@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Volkhov&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: lato, sans-serif;
    font-weight: 800;
    color: #3a3a3a;
}

/* headings and logo*/

h1, h2 {
    padding-top: 10px;
    padding-bottom: 18px;
    letter-spacing: 4px;
    font-family: volkhov, sans-serif;
    text-transform: uppercase;
    color: #E96E14;
}

h3 {
    padding-top: 10px;
    padding-bottom: 18px;
    font-family: volkhov, sans-serif;
    text-transform: none;
    letter-spacing: 4px;
    color: #E96E14;
}

#logo {
    float: left;
    margin-left: 40px;
    font-size: 280%;
}

/* navigation links*/

#menu {
    float: right;
    flex-direction: row;
    display: flex;
    font-size: 150%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style: none;
    margin-right: 40px;
}

#menu a {
    text-decoration: none;
    color: #E96E14;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* hero image */

#hero-image {
    width: 100%;
    height: 650px;
    background: url('../images/hero-image.png') no-repeat center center;
}

/* history */

#history {
    height: 700px;
}

#history p {
    margin-top: 10px;
    margin-bottom: 18px;
}

#left-history {
    float: left;
    width: 60%;
    padding-top: 4px;
}

#right-history {
    float: right;
    width: 30%;
    padding-top: 4px;
    text-align: center;
}

.left-history {
    clear: both;
    margin-left: 20px;
    margin-bottom: 50px;
    width: 60%;
    line-height: 20px;
}

.right-history {
    margin-right: 10px;
    margin-bottom: 50px;
    width: 30%;
    line-height: 20px;
}

.right-history h2 {
    font-weight: 900;
    text-align: center;
}

.right-history p {
    font-weight: 900;
    text-align: center;
}

/* what to see */

img {
    border-radius: 8px;
    margin: 5px;
}

#what-to-see {
    clear: both;
    height: 560px;
}

#what-to-see p {
    margin: 10px 10px 18px 18px;
}

#forum {
    float: left;
    width: 33%;
    padding-top: 30px;
    padding-bottom: 30px;
}

#river-port {
    float: right;
    width: 33%;
    padding-top: 30px;
    padding-bottom: 30px;
}

#market {
    margin: 0 auto;
    width: 33%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.forum {
    margin-left: 4px;
    background-color: rgb(152, 207, 246, 0.5);
    line-height: 20px;
    text-align: center;
}

.river-port {
    margin-left: 2px;
    margin-right: 2px;
    background-color: rgb(152, 207, 246, 0.5);
    line-height: 20px;
    text-align: center;
}

.market {
    line-height: 20px;
    text-align: center;
    background-color: rgb(152, 207, 246, 0.5);
}

.what-to-see {
    text-align: center;
}

  /* footer */

  footer {
    border-top: 1px solid #3a3a3a;
    height: 100px;
}

  .social-media {
    text-align: center;
}

  .social-media > li {
    display: inline;
}

  .social-media i {
    margin: 1%;
    padding: 5%;
    font-size: 200%;
    color: #E96E14;
}

  /* visitor information*/

  #visitor-information {
    clear: both;
    height: 680px;
}

  #visitor-information p {
    padding: 10px;
}

  #left-visit {
    float: left;
    width: 33%;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgb(152, 207, 246, 0.5);
}

  #right-visit {
    float: right;
    width: 33%;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgb(152, 207, 246, 0.5);
}

  #center-visit {
    margin: 0 auto;
    width: 33%;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgb(152, 207, 246, 0.5);
}

  .left-visit {
    margin-left: 4px;
    background-color: rgb(152, 207, 246, 0.5);
    line-height: 20px;
    text-align: center;
}

  .right-visit {
    margin-right: 4px;
    background-color: rgb(152, 207, 246, 0.5);
    line-height: 20px;
    text-align: center;
}

  #visit-us {
    margin: 10px 0;
    font-size: 150%;
    text-align: center;
}

  .center-visit {
    padding-top: 30px;
    background-color: rgb(152, 207, 246, 0.5);
    line-height: 20px;
    text-align: center;
}

   /* contact information*/

   #contact {
    clear: both;
    background-image: url('..//images/collumns_600x600.jpg');
    height: 570px;
}

   #contact p {
    padding: 10px;
    
}

   #left-contact {
    float: left;
    width: 33%;
    height: 560px;
    padding-top: 10px;
    padding-left: 10px;
}

   #right-contact {
    float: right;
    width: 33%;
    height: 560px;
    padding-top: 10px;
    text-align: center;
}

   .right-contact {
    height: 550px;
    background-color: rgb(222, 233, 238, 0.9);
    line-height: 20px;
    text-align: center;
}

   /* Form */

   .left-contact {
    clear: left;
    height: 550px;
    background-size: cover;
    background-position: center;
    background-color: rgb(222, 233, 238, 0.9);
}

   .contact-us {
    font-size: 150%;
    text-align: left;
}

   .contact-form {
    margin: 4px 10% 0 0;
    max-width: 350px;
    padding: 30px;
}

   .text-input {
    margin: 5px 0 20px;
    border: 1px solid #3a3a3a;
    border-radius: 2px;
    width: 95%;
    height: 25px;
    padding-left: 5px;
    background: #F5F5DC;
    font-family: volkhov, sans-serif;
    color: #3a3a3a;
}

   .text-input:hover {
    border-color: #3a3a3a;
}

   .send {
    display: block;
    margin-top: 20px;
    border-radius: 2px;
    padding: 18px 30px;
    background-color: #E96E14;
    text-align: center;
    font-size: 150%;
    font-family: volkhov, sans-serif;
    text-transform: uppercase;
    color: #3a3a3a;
}

   .send:hover {
    background-color: #fafafa;
    color: #3a3a3a;
}

   /* Media queries */

/* For larger screens size minimum from 1500px wide and down */
@media screen and (min-width: 1500px) {
    body {
        margin-left: auto;
        margin-right: auto;
        max-width: 90%;
    }

    #visitor-information {
        height: 690px;
    }

    #left-visit, #right-visit {
        height: 552px;
    }

    #center-visit {
        padding-bottom: 25px;
    }

    #left-visit img, #right-visit img, #center-visit img {
        margin-top: 20px;
        border-radius: 8px;
    }

}

/* For larger to medium screens size from 1280px wide and down */
@media screen and (max-width: 1280px) {
    
    #hero-image {
        clear: both;
        margin: 0 auto;
        width: 100%;
        height: 525px;
    }
    
    #history {
        margin: 0 auto;
        width: 100%;
        height: 850px;
    }

    #left-history {
        width: 45%;
        margin-left: 50px;
        padding: 0;
    }

    #right-history {
        width: 40%;
        padding: 0;
    }

    #what-to-see {
        clear: both;
        margin: 0;
        height: 500px;
        padding: 30px 0;
    }

    #forum {
        float: left;
        width: 33%;
        padding: 0;
    }

    #river-port {
        float: right;
        width: 33%;
        padding: 0;
    }

    #market {
        margin: 0 auto;
        width: 33%;
        padding: 0;
    }

    #market p, #river-port p {
        padding-bottom: 20px;
    }

    #visitor-information {
        margin: 0 auto;
        width: 100%;
        height: 730px;
    }

    #left-visit, #right-visit, #center-visit {
        height: 584px;
    }

    #right-visit img {
        margin: 20px;
        border-radius: 8px;
    }

    #center-visit img {
        margin-top: 20px;
        border-radius: 8px;
    }

    #left-visit img {
        margin-top: 20px;
    }

    #contact {
        margin: 0 auto;
        width: 100%;
        height: 600px;
    }

    #left-contact {
        float: left;
        width: 45%;
        height: 600px;
        padding: 0;
    }

    #right-contact {
        float: right;
        width: 40%;
        height: 600px;
        padding: 0;
    }

}

/* For medium screen sizes from 768px wide */
@media screen and (max-width: 768px) {

    h2, h3 {
        margin-bottom: 18px;
        font-size: 110%;
        text-align: center;
    }

    img {
        width: 200px;
        height: 200px;
    }

    #menu {
        float: left;
        clear: left;
        margin-left: 10px;
        margin-bottom: 20px;
        max-width: 950px;
        line-height: 25px;
    }

    #hero-image {
        clear: both;
        margin: 0 auto;
        width: 70vh;
    }

    #history {
        margin: 0 auto;
        width: 100%;
        height: 1200px;
    }

    #left-history {
        float: left;
        width: 80%;
    }

    #right-history {
        clear: both;
        width: 100%;
    }

    #what-to-see {
        clear: both;
        margin: 0 auto;
        width: 100%;
        height: 450px;   
    }

    .what-to-see {
        text-align: center;
    }

    #forum {
        float: left;
        margin-left: 1px;
        width: 33%;
        height: 410px;
        padding: 0;
    }

    #river-port {
        float: right;
        margin-right: 1px;
        width: 33%;
        height: 410px;
        padding: 0;
    }

    #market {
        width: 33%;
        height: 410px;
        padding: 0;
    }

    #market p {
        padding-bottom: 20px;
    }

    #river-port p {
        padding-bottom: 20px;
    }

    #visitor-information {
        margin: 0 auto;
        width: 100%;
        height: 730px;  
    }

    #left-visit {
        margin-left: 1px;
    }

    #right-visit {
        margin-right: 1px;
    }

    #left-visit p {
        padding-bottom: 25px;
    }

    #right-visit p {
        padding-bottom: 17px;
    }

    #center-visit p {
        padding-bottom: 17px;
    }

    #right-visit img {
        margin-top: 35px;
        margin-left: 0;
    }

    #left-visit img {
        margin-left: 0;
    }

    #center-visit img {
        margin-top: 35px;
    }

    .social-media {
        margin: 0 auto;
        width: 100%;
    }

    .send {
        font-size: 90%;
    }

}

/* For small screen sizes below 370px width */
@media screen and (max-width: 370px) {

    img {
        width: 100px;
        height: 100px;
    }

    #hero-image {
        clear: both;
        margin: 0 auto;
        width: 1600px;
        height: 300px;
    }

    #menu li {
        margin-left: 10px;
        font-size: 15px;
    }

    #left-history {
        width: 90%;
        margin-left: 20px;
    }

    #right-history {
        margin: 0 auto;
    }

    #what-to-see {
        height: 900px;
    }

    #forum {
        clear: both;
        width: 100%;
        height: 280px;
    }

    #river-port {
        clear: both;
        width: 100%;
        height: 280px;
    }

    #market {
        clear: both;
        width: 100%;
        height: 280px;
    }

    .social-media {
        margin-left: 0;
        max-width: 100%;
    }

    #visitor-information {
        height: 1500px;
    }

    #left-visit {
        clear: both;
        width: 100%;
        height: 400px;
    }

    #right-visit {
        clear: both;
        width: 100%;
        height: 400px;
    }

    #center-visit {
        clear: both;
        width: 100%;
        height: 410px;
    }

    #center-visit img {
        margin: 4px;
        border-radius: 8px;
    }

    #left-contact {
        clear: both;
        width: 100%;
    }

    #right-contact {
        clear: both;
        width: 100%;
        height: 450px;
    }

    .send {
        font-size: 85%;
    }

}







  