@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Volkhov&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    margin-top: 100px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
    max-width: 100vw;
    font-family: lato, sans-serif;
    font-weight: 800;
    color: #3a3a3a;
    background-color: rgb(152, 207, 246, 0.5);
}

/* headings and logo*/

h1, h2, h3 {
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: volkhov, sans-serif;
    text-transform: uppercase;
    font-size: 2.5vw;
    color: #E96E14;
}

h3 {
    text-transform: none;
}

#logo {
    float: left;
    margin-left: 40px;
    font-size: 280%;
}

/* navigation links*/

#menu {
    float: right;
    flex-direction: row;
    display: flex;
    font-size: 150%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style: none;
    margin-right: 80px;
}

#menu a {
    text-decoration: none;
    color: #E96E14;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}


/* hero image */

#hero-image {
    max-width: 100vw;
    height: 650px;
    background: url('../images/hero-image.png') no-repeat center center;
}

/* history */

#history {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    height: auto;
}

#history p {
    margin-top: 4px;
    margin-bottom: 5px;
    padding: 4px;
    font-size: 1.5vw;
}

#about-history {
    float: right;
    max-width: 70%;
    text-align: justify;
}

#timeline{
    float: left;
    width: 20%;
    margin-left: 20px;
    text-align: center;
    background-color: antiquewhite;
    border-radius: 8px;
    height: auto;
}

.about-history {
    margin-right: 20px;
    max-width: 90%;
}

.timeline {
    margin-right: 10px;
}

.timeline h2 {
    font-weight: 900;
    text-align: center;
}

.timeline p {
    font-weight: 900;
    text-align: center;
}

/* what to see */

img {
    border-radius: 8px;
    margin: 5px;
    width: 200px;
    max-width: 90%;
    height: auto;
}

#what-to-see {
    clear: both;
    height: auto;
}

#what-to-see p {
    padding: 20px;
    font-size: 1.5vw;
    line-height: 1.5;
}

#forum {
    float: left;
    max-width: 30%;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

#river-port {
    float: right;
    max-width: 30%;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

#market {
    margin: 0 auto;
    max-width: 30%;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.forum {
    margin-left: 10px;
    background-color: antiquewhite;
    border-radius: 10px;
    height: auto;
    line-height: 20px;
    text-align: center;
}

.forum h3 {
    padding-top: 4px;
    padding-bottom: 10px;
}

.river-port {
    margin-left: 2px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: antiquewhite;
    height: auto;
    line-height: 20px;
    text-align: center;
}

.river-port h3 {
    padding-top: 4px;
    padding-bottom: 10px;
}

.market {
    line-height: 20px;
    text-align: center;
    border-radius: 10px;
    background-color: antiquewhite;
    height: auto;
}

.market h3 {
    padding-top: 4px;
    padding-bottom: 10px;
}

.what-to-see {
    padding-top: 10px;
    padding-bottom: 18px;
    text-align: center;
}

#top {
    font-size: 1em;
}

  /* footer */

  footer {
    border-top: 1px solid #3a3a3a;
    height: 100px;
}

  .social-media {
    text-align: center;
}

  .social-media > li {
    display: inline;
}

  .social-media i {
    margin: 1%;
    padding: 5%;
    font-size: 200%;
    color: #E96E14;
}

  /* visitor information*/

  #visitor-information {
    clear: both;
    max-width: 1200px;
    width: 100%;
    margin: auto;
    height: auto;
}

  #visitor-information p {
    padding: 10px;
    font-size: 1.5vw;
    line-height: 1.5;
    text-align: justify;
}

  #visit {
    padding: 10px;
    text-align: center;
}

  #left-visit {
    float: left;
    max-width: 30%;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

  #right-visit {
    float: right;
    max-width: 30%;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

  #center-visit {
    margin: 0 auto;
    max-width: 30%;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

  .left-visit {
    margin-left: 10px;
    background-color: antiquewhite;
    border-radius: 10px;
    height: auto;
    line-height: 20px;
    text-align: center;
}

  .right-visit {
    margin-left: 2px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: antiquewhite;
    height: auto;
    line-height: 20px;
    text-align: center;
}

  #visit-us {
    margin: 10px 0;
    font-size: 150%;
    text-align: center;
}

  .center-visit {
    line-height: 20px;
    text-align: center;
    border-radius: 10px;
    background-color: antiquewhite;
    height: auto;
}

   /* contact information*/

   #contact {
    clear: both;
    background-image: url('..//images/columns_600x600.jpg');
    height: 570px;
}

   #contact p {
    padding: 10px;  
}

   #left-contact {
    float: left;
    width: 33%;
    height: 560px;
    padding-top: 10px;
    padding-left: 10px;
}

   #right-contact {
    float: right;
    width: 33%;
    height: 560px;
    padding-top: 10px;
    text-align: center;
}

   .right-contact {
    height: 550px;
    background-color: rgb(222, 233, 238, 0.9);
    line-height: 20px;
    text-align: center;
}

   /* Form */

   #message {
    height: 80px;
   }

   .left-contact {
    clear: left;
    height: 550px;
    background-size: cover;
    background-position: center;
    background-color: rgb(222, 233, 238, 0.9);
}

   .contact-us {
    font-size: 150%;
    text-align: left;
}

   .contact-form {
    margin: 4px 10% 0 0;
    max-width: 350px;
    padding: 30px;
}

   .text-input {
    margin: 5px 0 20px;
    border: 1px solid #3a3a3a;
    border-radius: 2px;
    width: 95%;
    height: 25px;
    padding-left: 5px;
    background: #F5F5DC;
    font-family: volkhov, sans-serif;
    color: #3a3a3a;
}

   .text-input:hover {
    border-color: #3a3a3a;
}

   .send {
    display: block;
    margin-top: 20px;
    border-radius: 2px;
    padding: 18px 30px;
    background-color: #E96E14;
    text-align: center;
    font-size: 150%;
    font-family: volkhov, sans-serif;
    text-transform: uppercase;
    color: #3a3a3a;
}

   .send:hover {
    background-color: #fafafa;
    color: #3a3a3a;
}

   /* Media queries */

/* For larger screens size minimum from 1500px wide and down */
/*@media screen and (min-width: 1500px) {

    body {
        margin-left: auto;
        margin-right: auto;
        max-width: 1800px;
    }

    #menu {
        margin-right: 30px;
    }

    #left-history {
        margin-left: 60px;
    }

    #visitor-information {
        height: 690px;
    }

    #left-visit, #right-visit {
        height: 552px;
    }

    #center-visit {
        height: 556px;
        padding-bottom: 25px;
    }

    #left-visit img, #center-visit img {
        margin-top: 40px;
    }

    #right-visit img {
        margin-top: 20px;
    }

    .send {
        margin: 8px 8px;
        font-size: 80%;
    }
}

/* For larger to medium screens size from 1280px wide and down */
/*@media screen and (max-width: 1280px) {
    
    #hero-image {
        clear: both;
        margin: 0 auto;
        width: 100%;
        height: 525px;
    }
    
    #history {
        margin: 0 auto;
        width: 100%;
        height: 850px;
    }

    #left-history {
        width: 45%;
        margin-left: 50px;
        padding: 0;
    }

    #right-history {
        width: 40%;
        padding: 0;
    }

    #what-to-see {
        height: 500px;
        padding: 30px 0;
    }

    #forum, #river-port {
        height: 450px;
        padding: 0;
    }

    #forum p {
        margin-bottom: 0;
    }

    #market {
        margin: 0 auto;
        height: 450px;
        padding: 0;
    }

    #visitor-information {
        margin: 0 auto;
        width: 100%;
        height: 730px;
    }

    #left-visit, #right-visit, #center-visit {
        height: 584px;
    }

    #right-visit img, #center-visit img, #left-visit img {
        margin: 30px;
    }

    #contact {
        margin: 0 auto;
        height: 600px;
    }

    #left-contact {
        width: 45%;
        height: 600px;
        padding: 0;
    }

    #right-contact {
        width: 40%;
        height: 600px;
        padding: 0;
    }

    .send {
        margin-top: 0;
        font-size: 100%;
    }
}

/* For medium screen sizes from 768px wide */
/*@media screen and (max-width: 768px) {

    h2, h3 {
        margin-bottom: 18px;
        font-size: 110%;
        text-align: center;
    }

    img {
        width: 180px;
        height: 180px;
    }

    #menu {
        float: left;
        clear: left;
        margin-left: 40px;
        margin-bottom: 20px;
        max-width: 950px;
        line-height: 25px;
    }

    #hero-image {
        clear: both;
        margin: 0 auto;
        width: 100vw;
        height: 100vw;
        background-position: center;
    }

    #history {
        margin: 0 auto;
        width: 100%;
        height: 1500px;
    }

    #left-history {
        float: left;
        width: 80%;
    }

    #right-history {
        clear: both;
        width: 100%;
    }

    #what-to-see {
        clear: both;
        margin: 0 auto;
        width: 100%;
        height: 450px;   
    }

    .what-to-see {
        text-align: center;
    }

    #forum {
        float: left;
        margin-left: 1px;
        width: 33%;
        height: 410px;
        padding: 0;
    }

    #forum img {
        margin-top: 25px;
    }

    #river-port {
        float: right;
        margin-right: 1px;
        width: 33%;
        height: 410px;
        padding: 0;
    }

    #market {
        width: 33%;
        height: 410px;
        padding: 0;
    }

    #market p, #river-port p {
        padding-bottom: 20px;
    }

    #visitor-information {
        margin: 0 auto;
        width: 100%;
        height: 730px;  
    }

    #left-visit {
        margin-left: 1px;
    }

    #right-visit {
        margin-right: 1px;
    }

    #left-visit p {
        padding-bottom: 25px;
    }

    #right-visit p, #center-visit p {
        padding-bottom: 17px;
    }

    #left-visit img {
        margin-top: 20px;
    }

    #right-visit img, #center-visit img {
        margin-top: 35px;
    }

    .social-media {
        margin: 0 auto;
        width: 100%;
    }

    .send {
        margin: 5px 5px;
        font-size: 90%;
    }

}

/* For small screen sizes below 600px width */
/*@media screen and (max-width: 600px) {

    body {
        background-color: rgb(152, 207, 246, 0.5);
    }

    img {
        width: 150px;
        height: 150px;
    }

    #hero-image {
        display: none;
    }

    #menu {
        margin-left: 40px;
        width: 85%;
    }

    #river-port p {
        margin: 12px;
    }

    #left-contact {
        width: 60%;
    }
}

/* For small screen sizes below 370px width */
/*@media screen and (max-width: 370px) {

    img {
        width: 100px;
        height: 100px;
    }

    h2 {
        font-size: 80%;
    }

    #logo {
        margin-left: 10px;
        font-size: 20px;
    }

    #menu {
        margin-left: 10px;
        margin-right: 10px;
        width: 85%;
        font-size: 15px;
    }

    #left-history {
        margin: 10px 10px  10px 10px;
        width: 85%;
        height: 1400px;
    }

    #right-history {
        margin: 0 auto;
    }

    #what-to-see {
        width: 85%;
        height: 900px;
    }

    #forum, #river-port, #market {
        clear: both;
        width: 100%;
        height: 280px;
    }

    .social-media {
        margin-left: 0;
        max-width: 100%;
    }

    #visitor-information {
        width: 85%;
        height: 1650px;
    }

    #left-visit, #right-visit, #center-visit {
        clear: both;
        width: 100%;
        height: 450px;
    }

    #center-visit img {
        margin: 4px;
        border-radius: 8px;
    }

    #left-contact {
        clear: both;
        width: 100%;
        height: 650px;
    }

    #right-contact {
        clear: both;
        width: 100%;
        height: 450px;
    }

    .send {
        margin: 4px 4px;
        font-size: 85%;
    }

}







  